In [142]:
#!/usr/bin/python3.3
# -*-coding:Utf-8 -*


import pandas as pd 
import statsmodels.formula.api as smf
import statsmodels.api as sm
import matplotlib.pyplot as plt 
from datetime import datetime
pd.options.mode.chained_assignment = None  # default='warn'
import xgboost as xgb
# reading data
train = pd.read_csv("sources/train.csv")
test = pd.read_csv("sources/test.csv")

In [143]:
#add a new column 'date' convert into datetime for both training and test set
train['date']=0
for i in range(len(train)) :
	train['date'][i]=datetime.strptime(train['datetime'][i],'%Y-%m-%d %H:%M:%S')

train=train.set_index("datetime")


test['date']=0
for i in range(len(test)) :
	test['date'][i]=datetime.strptime(test['datetime'][i],'%Y-%m-%d %H:%M:%S')

test=test.set_index("datetime")

In [144]:
'''
#categorize training set
train = train
train['weather'] = train['weather'].astype('category')
train['holiday'] = train['holiday'].astype('category')
train['workingday'] = train['workingday'].astype('category')
train['season'] = train['season'].astype('category')

#factorize test set
test = test
test['weather'] = test['weather'].astype('category')
test['holiday'] = test['holiday'].astype('category')
test['workingday'] = test['workingday'].astype('category')
test['season'] = test['season'].astype('category')
'''

"\n#categorize training set\ntrain = train\ntrain['weather'] = train['weather'].astype('category')\ntrain['holiday'] = train['holiday'].astype('category')\ntrain['workingday'] = train['workingday'].astype('category')\ntrain['season'] = train['season'].astype('category')\n\n#factorize test set\ntest = test\ntest['weather'] = test['weather'].astype('category')\ntest['holiday'] = test['holiday'].astype('category')\ntest['workingday'] = test['workingday'].astype('category')\ntest['season'] = test['season'].astype('category')\n"

In [145]:
#create day of week column and hour column and a year colum then convert into category for both training and test set
train['day']=0
train['hour']=0
train['year']=0
for i in range(len(train)) :
    train['day'][i] = train['date'][i].weekday()
    train['hour'][i] = train['date'][i].hour
    train['year'][i]=train['date'][i].year

test['day']=0
test['hour']=0
test['year']=0
for i in range(len(test)) :
    test['day'][i] = test['date'][i].weekday()
    test['hour'][i] = test['date'][i].hour
    test['year'][i]=test['date'][i].year

In [146]:
#create ahot () variable and convert to category (4 category) for both training and test set
train['ahot'] = 4
for i in range(len(train)) :
	currentTemp = train['atemp'][i]
	if (currentTemp>=24.24 and currentTemp<31.06 ):
		train['ahot'][i] = 3
	elif (currentTemp>=16.6 and currentTemp<24.24):
		train['ahot'][i] = 2
	elif ( currentTemp<16.6) :
		train['ahot'][i] = 1


test['ahot'] = 4
for i in range(len(test)) :
	currentTemp = test['atemp'][i]
	if (currentTemp>=24.24 and currentTemp<31.06 ):
		test['ahot'][i] = 3
	elif (currentTemp>=16.6 and currentTemp<24.24):
		test['ahot'][i] = 2
	elif (currentTemp<16.6) :
		test['ahot'][i] = 1

In [147]:
#create ahot () variable and convert to category (4 category) for both training and test set
train['hot'] = 4
for i in range(len(train)) :
	currentTemp = train['temp'][i]
	if (currentTemp>=20.5 and currentTemp<26.24 ):
		train['hot'][i] = 3
	elif (currentTemp>=13.94 and currentTemp<20.5):
		train['hot'][i] = 2
	elif ( currentTemp<13.94) :
		train['hot'][i] = 1


test['hot'] = 4
for i in range(len(test)) :
	currentTemp = test['temp'][i]
	if (currentTemp>=20.5 and currentTemp<26.24 ):
		test['hot'][i] = 3
	elif (currentTemp>=13.94 and currentTemp<20.5):
		test['hot'][i] = 2
	elif (currentTemp<13.94) :
		test['hot'][i] = 1

In [148]:
train = train.reset_index()
train = train.drop("datetime",1)
train = train.drop(['date'],1)

test = test.reset_index()
result_reg = test[['datetime']]
result_casual = test[['datetime']]

test = test.drop("datetime",1)
test = test.drop('date',1)

In [149]:
train_registered=train.drop("casual",1)
train_registered=train_registered.drop("count",1)

train_casual=train.drop("registered",1)
train_casual=train_casual.drop("count",1)

In [158]:
train_registered

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered,day,hour,year,ahot,hot
0,1,0,0,1,9.84,14.395,81,0.0000,13,5,0,2011,1,1
1,1,0,0,1,9.02,13.635,80,0.0000,32,5,1,2011,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,27,5,2,2011,1,1
3,1,0,0,1,9.84,14.395,75,0.0000,10,5,3,2011,1,1
4,1,0,0,1,9.84,14.395,75,0.0000,1,5,4,2011,1,1
5,1,0,0,2,9.84,12.880,75,6.0032,1,5,5,2011,1,1
6,1,0,0,1,9.02,13.635,80,0.0000,0,5,6,2011,1,1
7,1,0,0,1,8.20,12.880,86,0.0000,2,5,7,2011,1,1
8,1,0,0,1,9.84,14.395,75,0.0000,7,5,8,2011,1,1
9,1,0,0,1,13.12,17.425,76,0.0000,6,5,9,2011,2,1
10,1,0,0,1,15.58,19.695,76,16.9979,24,5,10,2011,2,2
11,1,0,0,1,14.76,16.665,81,19.0012,30,5,11,2011,2,2
12,1,0,0,1,17.22,21.210,77,19.0012,55,5,12,2011,2,2
13,1,0,0,2,18.86,22.725,72,19.9995,47,5,13,2011,2,2
14,1,0,0,2,18.86,22.725,72,19.0012,71,5,14,2011,2,2
15,1,0,0,2,18.04,21.970,77,19.9995,70,5,15,2011,2,2
16,1,0,0,2,17.22,21.210,82,19.9995,52,5,16,2011,2,2
17,1,0,0,2,18.04,21.970,82,19.0012,52,5,17,2011,2,2
18,1,0,0,3,17.22,21.210,88,16.9979,26,5,18,2011,2,2
19,1,0,0,3,17.22,21.210,88,16.9979,31,5,19,2011,2,2
20,1,0,0,2,16.40,20.455,87,16.9979,25,5,20,2011,2,2
21,1,0,0,2,16.40,20.455,87,12.9980,31,5,21,2011,2,2
22,1,0,0,2,16.40,20.455,94,15.0013,17,5,22,2011,2,2
23,1,0,0,2,18.86,22.725,88,19.9995,24,5,23,2011,2,2
24,1,0,0,2,18.86,22.725,88,19.9995,13,6,0,2011,2,2
25,1,0,0,2,18.04,21.970,94,16.9979,16,6,1,2011,2,2
26,1,0,0,2,17.22,21.210,100,19.0012,8,6,2,2011,2,2
27,1,0,0,2,18.86,22.725,94,12.9980,4,6,3,2011,2,2
28,1,0,0,2,18.86,22.725,94,12.9980,1,6,4,2011,2,2
29,1,0,0,3,17.22,21.210,77,19.9995,2,6,6,2011,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10856,4,0,1,1,15.58,19.695,46,22.0028,512,1,18,2012,2,2
10857,4,0,1,1,15.58,19.695,46,26.0027,334,1,19,2012,2,2
10858,4,0,1,1,14.76,16.665,50,16.9979,264,1,20,2012,2,2
10859,4,0,1,1,14.76,17.425,50,15.0013,159,1,21,2012,2,2
10860,4,0,1,1,13.94,16.665,49,0.0000,127,1,22,2012,2,2
10861,4,0,1,1,13.94,17.425,49,6.0032,80,1,23,2012,2,2
10862,4,0,1,1,12.30,15.910,61,0.0000,35,2,0,2012,1,1
10863,4,0,1,1,12.30,15.910,65,6.0032,14,2,1,2012,1,1
10864,4,0,1,1,11.48,15.150,65,6.0032,2,2,2,2012,1,1
10865,4,0,1,1,10.66,13.635,75,8.9981,5,2,3,2012,1,1
10866,4,0,1,1,9.84,12.120,75,8.9981,6,2,4,2012,1,1
10867,4,0,1,1,10.66,14.395,75,6.0032,29,2,5,2012,1,1
10868,4,0,1,1,9.84,12.880,75,6.0032,109,2,6,2012,1,1
10869,4,0,1,1,10.66,13.635,75,8.9981,360,2,7,2012,1,1
10870,4,0,1,1,9.84,12.880,87,7.0015,665,2,8,2012,1,1
10871,4,0,1,1,11.48,14.395,75,7.0015,309,2,9,2012,1,1
10872,4,0,1,1,13.12,16.665,70,7.0015,147,2,10,2012,2,1
10873,4,0,1,1,16.40,20.455,54,15.0013,169,2,11,2012,2,2
10874,4,0,1,1,16.40,20.455,54,19.0012,203,2,12,2012,2,2
10875,4,0,1,1,17.22,21.210,50,12.9980,183,2,13,2012,2,2
10876,4,0,1,1,17.22,21.210,50,12.9980,185,2,14,2012,2,2
10877,4,0,1,1,17.22,21.210,50,19.0012,209,2,15,2012,2,2
10878,4,0,1,1,17.22,21.210,50,23.9994,297,2,16,2012,2,2
10879,4,0,1,1,16.40,20.455,50,26.0027,536,2,17,2012,2,2
10880,4,0,1,1,15.58,19.695,50,23.9994,546,2,18,2012,2,2
10881,4,0,1,1,15.58,19.695,50,26.0027,329,2,19,2012,2,2
10882,4,0,1,1,14.76,17.425,57,15.0013,231,2,20,2012,2,2
10883,4,0,1,1,13.94,15.910,61,15.0013,164,2,21,2012,1,2
10884,4,0,1,1,13.94,17.425,61,6.0032,117,2,22,2012,2,2
10885,4,0,1,1,13.12,16.665,66,8.9981,84,2,23,2012,2,1

In [151]:
train_registered.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'registered', 'day', 'hour', 'year', 'ahot',
       'hot'],
      dtype='object')

In [152]:
train_casual.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual', 'day', 'hour', 'year', 'ahot',
       'hot'],
      dtype='object')

In [153]:
X_train = train_registered.drop("registered",1)
Y_train = train_registered['registered']
T_train_xgb = xgb.DMatrix(X_train, Y_train)
params = {"objective": "reg:linear", "bst:max_depth":2}
gbm_reg = xgb.train(dtrain=T_train_xgb, params = params)
X_test = xgb.DMatrix(test)
Y_pred = gbm.predict(X_test)
print(Y_pred)
xgb.plot_importance(gbm)

[ 1.21601903  1.27089262  1.30699039 ...,  4.72555733  3.19396782
  2.51288199]

In [154]:
plt.show()

In [155]:
result_reg['count'] = pd.DataFrame(Y_pred)
#result[result['count']<=0] = 0

result_final_reg = result_reg.set_index('datetime')
result_final_reg[result_final_reg['count']<=0]=0
result_final_reg

                         count
datetime
2011-01-20 00:00:00   1.216019
2011-01-20 01:00:00   1.270893
2011-01-20 02:00:00   1.306990
2011-01-20 03:00:00   0.939128
2011-01-20 04:00:00   0.801862
2011-01-20 05:00:00   0.291131
2011-01-20 06:00:00   1.447177
2011-01-20 07:00:00   3.394145
2011-01-20 08:00:00   6.150535
2011-01-20 09:00:00   5.477881
2011-01-20 10:00:00   7.789424
2011-01-20 11:00:00  10.236857
2011-01-20 12:00:00  11.454372
2011-01-20 13:00:00  11.454372
2011-01-20 14:00:00  11.454372
2011-01-20 15:00:00  10.053720
2011-01-20 16:00:00  11.454372
2011-01-20 17:00:00  12.088678
2011-01-20 18:00:00   7.231345
2011-01-20 19:00:00   2.341348
2011-01-20 20:00:00   3.958593
2011-01-20 21:00:00   2.343657
2011-01-20 22:00:00   0.647267
2011-01-20 23:00:00   0.000000
2011-01-21 00:00:00   1.138750
2011-01-21 01:00:00   0.146116
2011-01-21 02:00:00   0.371787
2011-01-21 03:00:00   0.000000
2011-01-21 04:00:00   0.491727
2011-01-21 05:00:00   0.000000
...                        ...
2012-12-30 18:00:00  12.386201
2012-12-30 19:00:00  10.105141
2012-12-30 20:00:00   2.493857
2012-12-30 21:00:00   4.045406
2012-12-30 22:00:00   2.187056
2012-12-30 23:00:00   2.187056
2012-12-31 00:00:00   1.577485
2012-12-31 01:00:00   0.434100
2012-12-31 02:00:00   0.716997
2012-12-31 03:00:00   0.349134
2012-12-31 04:00:00   0.211869
2012-12-31 05:00:00   0.211869
2012-12-31 06:00:00   1.367915
2012-12-31 07:00:00   3.371638
2012-12-31 08:00:00   9.059977
2012-12-31 09:00:00   8.833177
2012-12-31 10:00:00   8.199538
2012-12-31 11:00:00   8.445673
2012-12-31 12:00:00   9.890277
2012-12-31 13:00:00  10.926839
2012-12-31 14:00:00  13.705878
2012-12-31 15:00:00  13.705878
2012-12-31 16:00:00   9.405358
2012-12-31 17:00:00   9.405358
2012-12-31 18:00:00   7.415848
2012-12-31 19:00:00   4.773736
2012-12-31 20:00:00   4.725557
2012-12-31 21:00:00   4.725557
2012-12-31 22:00:00   3.193968
2012-12-31 23:00:00   2.512882

[6493 rows x 1 columns]

In [156]:
X_train = train_casual.drop("casual",1)
Y_train = train_casual['casual']
T_train_xgb = xgb.DMatrix(X_train, Y_train)
params = {"objective": "reg:linear"}
gbm = xgb.train(dtrain=T_train_xgb, params = params)
X_test = xgb.DMatrix(test)
Y_pred = gbm.predict(X_test)
print(Y_pred)
xgb.plot_importance(gbm)

[ 1.21601903  1.27089262  1.30699039 ...,  4.72555733  3.19396782
  2.51288199]

In [157]:
result_casual['count'] = pd.DataFrame(Y_pred)
#result[result['count']<=0] = 0

result_final_casual = result_casual.set_index('datetime')
result_final_casual[result_final_casual['count']<=0]=0
result_final_casual

                         count
datetime
2011-01-20 00:00:00   1.216019
2011-01-20 01:00:00   1.270893
2011-01-20 02:00:00   1.306990
2011-01-20 03:00:00   0.939128
2011-01-20 04:00:00   0.801862
2011-01-20 05:00:00   0.291131
2011-01-20 06:00:00   1.447177
2011-01-20 07:00:00   3.394145
2011-01-20 08:00:00   6.150535
2011-01-20 09:00:00   5.477881
2011-01-20 10:00:00   7.789424
2011-01-20 11:00:00  10.236857
2011-01-20 12:00:00  11.454372
2011-01-20 13:00:00  11.454372
2011-01-20 14:00:00  11.454372
2011-01-20 15:00:00  10.053720
2011-01-20 16:00:00  11.454372
2011-01-20 17:00:00  12.088678
2011-01-20 18:00:00   7.231345
2011-01-20 19:00:00   2.341348
2011-01-20 20:00:00   3.958593
2011-01-20 21:00:00   2.343657
2011-01-20 22:00:00   0.647267
2011-01-20 23:00:00   0.000000
2011-01-21 00:00:00   1.138750
2011-01-21 01:00:00   0.146116
2011-01-21 02:00:00   0.371787
2011-01-21 03:00:00   0.000000
2011-01-21 04:00:00   0.491727
2011-01-21 05:00:00   0.000000
...                        ...
2012-12-30 18:00:00  12.386201
2012-12-30 19:00:00  10.105141
2012-12-30 20:00:00   2.493857
2012-12-30 21:00:00   4.045406
2012-12-30 22:00:00   2.187056
2012-12-30 23:00:00   2.187056
2012-12-31 00:00:00   1.577485
2012-12-31 01:00:00   0.434100
2012-12-31 02:00:00   0.716997
2012-12-31 03:00:00   0.349134
2012-12-31 04:00:00   0.211869
2012-12-31 05:00:00   0.211869
2012-12-31 06:00:00   1.367915
2012-12-31 07:00:00   3.371638
2012-12-31 08:00:00   9.059977
2012-12-31 09:00:00   8.833177
2012-12-31 10:00:00   8.199538
2012-12-31 11:00:00   8.445673
2012-12-31 12:00:00   9.890277
2012-12-31 13:00:00  10.926839
2012-12-31 14:00:00  13.705878
2012-12-31 15:00:00  13.705878
2012-12-31 16:00:00   9.405358
2012-12-31 17:00:00   9.405358
2012-12-31 18:00:00   7.415848
2012-12-31 19:00:00   4.773736
2012-12-31 20:00:00   4.725557
2012-12-31 21:00:00   4.725557
2012-12-31 22:00:00   3.193968
2012-12-31 23:00:00   2.512882

[6493 rows x 1 columns]

In [36]:
result_final.to_csv('RÃ©sultats/XGBoost/submissionXGBoost.csv')